/* Layout */

.main-layout {
    max-width: 73.625rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }
  
  @media (min-width: 768px) {
    .main-layout {
      padding-inline: 1rem;
      width: calc(100% - 80px);
    }
  }
  
  @media (min-width: 1024px) {
    .main-layout {
      padding-inline: 0;
      width: calc(100% - 100px);
    }
  }
  

/* Layout */


