/* Menú */

.menu {
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed !important;
	left: -100%;
	bottom: 0;
	top: 0;
	width: 75vw;
	background-color: #1B568F;
	transition: all 0.3s ease-in-out;
	padding-bottom: 5rem;
	z-index: 5;
}

.menu__title {
	font-size: 1.2rem;
	margin: 1rem;
	color: #ffffff;
}

.menu.open {
	left: 0;
}

.menu__logo img {
	width: 5rem;
}

.menu__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu__sub-menu {
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 0.5rem;
}

.menu__item:not(:last-child) {
	border-bottom: 1px solid #1B568F;
}

.menu__link {
	display: grid;
	align-items: center;
	font-weight: 500;
	font-size: 1rem;
	text-decoration: none;
	color: #ffffff;
	padding: 0.9rem 0.7rem;
}

@media (min-width: 1024px) {
	.menu {
		display: none;
	}
}

/* Menú */