<template>
  <div class="container">
    <div class="row">
      <!-- Primera Imagen y Texto -->
      <div class="col-md-6">
        <div class="d-flex">
          <img src="../../assets/images/Red (2).jpg" alt="Imagen 1" class="img-fluid mr-3">
          <h2 class="feature-card__title texto-centrado">Red de conocimientos</h2>
          <p>En la plataforma web diseñada específicamente para promover la gestión sostenible de suelos. Esta red tiene como objetivo principal reunir a expertos, profesionales, investigadores y comunidades de productores agrícolas y pecuarios interesadas en el ámbito de la conservación y uso responsable del suelo</p>
        </div>
      </div>

      <!-- Segunda Imagen y Texto -->
      <div class="col-md-6">
        <div class="d-flex">
          <img class="image-tamaño" src="../../assets/images/Salida-tecnica-Sesquile.jpg" alt="Imagen 2">
          <h2 class="feature-card__title texto-centrado">Evaluación de calidad de suelos</h2>
          <p>Recomendaciones para su gestión sostenible. Cuéntanos sobre la salud de tus suelos y de tu cultivo y obtendrás recomendaciones de mejoramiento</p>
        </div>
      </div>

      <!-- Tercera Imagen y Texto -->
      <div class="col-md-6">
        <div class="d-flex">
          <img src="../../assets/images/Predial.png" alt="Imagen 3" class="img-fluid mr-3">
          <h2 class="feature-card__title texto-centrado">Análisis Predial</h2>
          <p>Brinda la información y verificación de los detalles físicos y legales de los terrenos de tu finca</p>
        
        </div>
      </div>

      <!-- Cuarta Imagen y Texto -->
      <div class="col-md-6">
        <div class="d-flex">
          <img src="../../assets/images/PicHome.jpg" alt="Imagen 4" class="img-fluid">
          <h2 class="feature-card__title texto-centrado">Preguntas Claves</h2>
          <p>Información catastral sobre el predioInformación catastral sobre el predioInformación catastral sobre el predioInformación</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.image-tamaño{
  width: 200px!important;
  height: 200px;
  margin-bottom: 10px;
}
</style>
